.custom-button {
  padding: 1rem 0.5rem;

  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  /* box-shadow: 0 1px 1px black; */
  /* background-color: #0971f1; */
}
