main {
  font-family: "DynaPuff", cursive;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.motto {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 2cm;
}

/* .tech-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.tech-heading {
  font-size: 4vw;
}

.section {
  width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #1C2833;
  display: flex;
  justify-content: space-between;
}

.tech-container {
  min-height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.tech-info img {
  width: 1.5in;
  height: 1.5in;
}

.tech-name {
  font-size: 2rem;
  text-align: center;
  color: #d0d0d0;
} */

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5in;
}

.feature-container {
  width: 90%;
  display: flex;
}

.feature-name {
  align-self: center;
  width: 40%;
  font-size: 5vw;
}

.feature-description {
  width: 60%;
  font-size: 1.5rem;
  line-height: 5rem;
}

.bttn-getStarted {
  margin: auto;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  border-radius: 1rem;
  color: white;
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  box-shadow: 0px 4px 10px 0px whitesmoke;
}

.redirectLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: red; */
}

/* .card {
  width: 35%;
  height: 2.5in;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border-radius: 1.5rem;
  background-color: #212f3c;
  display: flex;
  flex-direction: column;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-info {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 2px solid royalblue;
}

.card-heading {
  font-size: 1.8rem;
}

.card-divider {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  background-color: grey;
  border-radius: 2px;
} */

.device-view {
  margin: auto;
  width: 60vw;
  height: 80vh;
  padding: 1.2rem;
  box-sizing: border-box;
  border-radius: 2rem;
  background-color: black;
  /* border: 0.1px solid whitesmoke; */
  /* box-shadow: -5px -3px 2px 0px grey, 2px -2px 0 0 grey, -1px 2px 0px 1px grey; */
  box-shadow: 0 0 5px 0 grey;
}

.screen {
  width: 100%;
  height: 100%;
  border-radius: 0.9rem;
  display: flex;
  background-color: hsl(200, 18%, 26%);
  overflow: hidden;
}

.drawer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-right: 1px solid whitesmoke;
  overflow: hidden;
}

.drawer-logo {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: end;
  border-top-left-radius: inherit;
  border-bottom: 1px solid whitesmoke;
}

.drawerList {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: inherit;
}

.list-element {
  min-width: fit-content;
  padding: 1.5rem 0.5rem;
  transform: scale(1) translateX(0);
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.list-element:hover {
  transform: scale(1.1) translateX(2px);
  background-color: hsl(200, 18%, 36%);
}

.profiles {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.screen-layout {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  color: white;
  /* background-color: royalblue; */
  display: flex;
  gap: 1rem;
}

.screen-content {
}

.rotatingGrid {
  height: 4in;
}

.white-text {
  color: white;
}

.cyan-text {
  color: #3ce9e3;
}

.green-text {
  color: #6bd968;
}

.yellow-text {
  color: #fecc1b;
}

.bump-fontSize {
  font-size: 3rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: pink;
}
