.navbar {
  width: 80%;
  margin: 1rem auto;
  padding: 1.5rem;
  box-sizing: border-box;
  color: white;
  background-color: black;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: capitalize;
}

.nav-list1,
.nav-list2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list2 {
  gap: 1rem;
}

.nav-heading {
  font-family: "DynaPuff", cursive;
  font-size: 2rem;
  cursor: grabbing;
}

.nav-links {
  font-weight: 500;
  color: #d0d0d0;
}
